@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');


* {
    margin:0px;
    padding: 0px;
}


/* FOOTER */

footer {
    width: 100vw;
    height: 30em;
    background-image: url(images/footer-bg-1-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Mulish", sans-serif;
    font-size: 1em;
    color: rgba(132,122,125,1);
}


/* input style  */

.footer__mailinput {
    display: flex;
    height: 3em;
}

.mailinput__icon {
    background-color: #d99578;
    color: white;
    padding: 1em;
}

.mailinput__input {
    padding: 1em;
    color: rgb(136, 136, 136, 0.7);
    border: 0px;
}

.mailinput__button {
    background-color: white;
    border: 0px;
    width: 3em;
}


/* hover on the button */

.mailinput__button:hover {
    background-color: rgb(211, 211, 211);
}


/* icons style */

.media-icons {
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    font-size: 1.2em;
}

.media-icons a {
    display: inline-block;
    padding: 0px 10px;
    color: rgba(132,122,125,1);
}


/* p copyrights style */

.footer__copyrights a {
    text-decoration: none;
    color: #d99578;
}

