@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* RECHERCHE */

/* style texte */

.recherche {
    background-image: url(images/inner-banner-bg-1-1.jpg);
    background-position: center;
    background-size: cover;
    height: 47em;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    font-family: "Prata", serif;
    font-weight: 700;
    font-size: 2em;
    display: block;
    padding: 1em;
    border-bottom: 0.01em solid white;
    margin-top: 6em;
    margin-bottom: 1em;
}

/* style boutons */

.recherche__choix {
    display: flex;
    flex-direction: column;
}

.recherche__choix button {
    font-size: 1.1em;
    color: white;
    background-color: rgba(132,122,125,0);
    padding: 0.7em;
}

.recherche__choix__bouton1 {
    border-bottom: 0.01em solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.recherche__choix__bouton2 {
    border: 0px;
}

/* style menu déroulant */

.menu-deroulant {
    margin-top: 2.5em;
}

.menu-deroulant, .menu-deroulant__sous{
    list-style-type: none;
}

/* cacher les options des premiers li */
.menu-deroulant__sous {
    display: none;
}

.menu-deroulant__option1, .menu-deroulant__option2
, .menu-deroulant__option3 {
    background-color: white;
    font-family: "Mulish", sans-serif;
    padding: 1.6em;
    width: 18em;
    color: #3f3f3f;
    border: 0.1em solid #aaaaaa;
}


.menu-deroulant__option1 {
    border-radius: 5px 5px 0px 0px;
}

.menu-deroulant__sous__option {
   padding: 0.7em;

}

.menu-deroulant__bouton {
    font-family: "Mulish", sans-serif;
    border: none;
}

.menu-deroulant__bouton{
    padding: 1.6em;
    width: 23.3em;
    display: block;
    background-color: #3f3f3f;
    color: white;
}

/* focus pour menu deroulant */
.menu-deroulant li:hover .menu-deroulant__sous {
    display: block;
}

.menu-deroulant__sous__option:hover {
    background-color: rgb(196, 193, 193);
}

.menu-deroulant__bouton:focus {
    background-color: #585555;
}


/* BLOCK-EVENT */

.event-info {
    margin: 5%;
}

.event-info__div h2, .event-info__box__date-details, .event-info__box__location-details {
    font-family: "Mulish", sans-serif;
}

.event-info__box h3, .event-info__box__date, .event-info__box__location {
    font-family: "Prata", serif;
}

.event-info__div {
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    margin: 2em 0em;
    position: relative;
}


.event-info__div h2 {
    font-size: 1em;
    display: block;
    background-color: white;
    width: max-content;
    padding: 0.2em;
    position: absolute;
    left: 85%;
    top: 1%;
}

.event-info__box h3 {
    margin: 1em 2em;
    font-size: 1.3em;
    font-weight: 100;
}

.event-info__box p {
    margin: 1em 2.5em;
}

.event-info__icon {
    color: #D99578;
}

.event-info__box__date-details {
    padding-bottom: 2em;
    border-bottom: 0.01em solid rgb(192, 192, 192);
}

.event-info__box button {
    margin: 2.5em;
    height: 3em;
    width: 75%;
    background-color: #D99578;
    color: white;
    border: 0px;
    border-radius: 4px;
}

/* focus de sur les boutons */
.event-info__box button:focus {
    background-color: #db815b;
}


/* BOUTONS */

.boutons {
    margin: 5%;
    display: flex;
    justify-content: center;
}

.boutons button {
    font-family: "Prata", serif;
    font-size: 1.3em;
    height: 2em;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*focus sur les boutons */

.boutons button:focus {
    height: 2em;
    padding: 0.8em;
    color: white;
    background-color: #D99578;
    border: none;
    border-radius: 4px;

}


/* FOOTER */

footer {
    width: 100vw;
    height: 30em;
    background-image: url(images/footer-bg-1-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Mulish", sans-serif;
    font-size: 1em;
    color: rgba(132,122,125,1);
}


/* input style  */

.footer__mailinput {
    display: flex;
    height: 3em;
}

.footer__mailinput__icon {

    background-color: #d99578;
    color: white;
    padding: 1em;
}

.footer__mailinput__input {

    padding: 1em;
    color: rgb(136, 136, 136, 0.7);
    border: 0px;
}

.footer__mailinput__button {

    background-color: white;
    border: 0px;
    width: 3em;
}


/* hover on the button */

.footer__mailinput__button:hover {
    background-color: rgb(211, 211, 211);
}


/* icons style */

.footer__media-icons {
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    font-size: 1.2em;
}

.footer__media-icons a {
    display: inline-block;
    padding: 0px 10px;
    color: rgba(132,122,125,1);
}


/* p copyrights style */

.footer__copyrights a {
    text-decoration: none;
    color: #d99578;
}



/* MEDIA QUERIEEES */


/* pour tablette */
@media screen and (min-width:768px) and (max-width:1280px) {
    
    /* section recherche */

    .recherche {
        height: 25em;
    }

    h1 {
        padding: 1em 5em;
        margin-top: 2.5em;
    }

    .event-info__div h2 {
        left: 85%;
    }

    .recherche__choix {
        flex-direction: row;
    }

    .recherche__choix button {
        padding: 0.5em 2em;
    }

    .recherche__choix__bouton1 {
        border-bottom: 0px;
        border-right: 0.01em solid white;
    }

    .menu-deroulant {
        display: flex;
        margin-top: 6em;
    }

    .menu-deroulant li {
        width: 8em;
        height: 1.5em;
    }

    .menu-deroulant__option1 {
        border-radius: 5px 0px 0px 5px;
    }

    .menu-deroulant__bouton {
        width: 10em;
        padding: 2em;
        border-radius: 5px;
    }


    /* block event */

    .event-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .event-info__div {
        width: 49%;
    }

}

/* Pour laptop */

@media screen and (min-width:1280px) {
    /* section recherche */

    .recherche {
        height: 25em;
    }

    h1 {
        padding: 1em 5em;
        margin-top: 2.5em;
    }

    .recherche__choix {
        flex-direction: row;
    }

    .recherche__choix button {
        padding: 0.5em 2em;
    }

    .recherche__choix__bouton1 {
        border-bottom: 0px;
        border-right: 0.01em solid white;
    }

    .menu-deroulant {
        display: flex;
        margin-top: 6em;
        width: 70%;
    }

    .menu-deroulant li {
        height: 1.5em;
    }

    .menu-deroulant__option1 {
        border-radius: 5px 0px 0px 5px;
    }

    .menu-deroulant__bouton {
        width: 18em;
        padding: 2em;
        border-radius: 5px;
    }

    .menu-deroulant__bouton:hover {
        background-color: #585555;
    }


    /* block event */

    .event-info {
        margin: 5% 15% 0% 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .event-info__div {
        width: 48%;
        border: 0px;
    }

    .event-info__div h2 {
        left: 90%;
    }

    .event-info__box button:hover {
        background-color: #db815b;
    }

    .event-info__box__button {
        display: none;
    }

    .event-info__box {
        width: 70%;
        position: absolute;
        bottom: -2em;
        background-color: white;
        padding: 0.5em;
    }

    .event-info__box h3 {
        margin: 0.5em 1em;
    }

    .event-info__box p {
        margin: 1.5em;
    }

    

    .event-info__box__button--visible {
        margin: 0.5em 1.5em;
    }


    /* boutons */

    .boutons {
        margin-top: 0%;
    }

    .boutons button:hover {
        height: 2em;
        padding: 0.8em;
        color: white;
        background-color: #D99578;
        border: none;
        border-radius: 4px;
    }
}