@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');

* {
    margin:0px;
    padding: 0px;
}


.navbar{
    background-color: rgba(48,46,47,1);
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 20% 60%;
}
.navbar__time{
    color: rgba(156, 150, 152,1);
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/3;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1em;
    border-bottom: 1px solid grey;
    padding-top: 15px;

}

.navbar__plan{
    min-height: 40px;
    color: rgba(156, 150, 152,1);
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
    border-bottom: 1px solid grey;
}

.icon__orange{
    color: #D99578;
}


.header__media-icons {
    display: none;
}

.navbar-loupe{
    display: none;
}

.navbar__languages{
    display: none;
}
.button--orange{
    display: none;
}
.navbar-links{
    display: none;

}


.navbar__light-logo{
    margin: auto;
    grid-row: 3;
    grid-column: 1;
    padding-right: 15px;
    padding-left: 20px;
    border-right: 1px solid grey;
}
.navbar__burger-menu-mobile{
    color: white;
    margin: auto;
    margin-right: 15%;
    grid-column: 2;
    grid-row: 3;
    font-size: 1.5em;
}

.navbar__burger-menu-desk{
    display: none;

}

/* become a member */

.become-a-member{
    height: 1000px;
    width: 100%;
    background-image: linear-gradient(76deg, rgba(0,0,0,0.8) 0%, rgba(210,147,120,1) 100%),
                     url(images/video-bg-1-1.jpg);
    background-position: center;
    display: grid;
    grid-template-rows: 40% 20% 20% 15% 5%;
    

}

.become-a-member__images{
    grid-row: 1;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: no-repeat url(images/video-1-1.jpg);
    background-position: center;
    background-size: 80%;
}

.become-a-member__play{
    font-size: 4em;
    color: white;

}

.become-a-member h3{
    color: white;
    grid-row: 2;
    font-size: 3em;
    margin-left: 15px;
}
.become-a-member table tr td{
    color: white;
    padding: 10px;
}


.become-a-member__button{
    display: flex;
    justify-content: center;
    align-items: center;    
    grid-row: 4;
}

.become-a-member__button button{
    width: 90%;
    height: 35%;
}

/* visit exhibition */
.visit{
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #302E2F;
}
.visit div{
    font-weight: bold;
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10%;

}
.visit img{
    padding-top: 15px;
    padding-bottom: 25px;
    height: 80px;
    width: 80px;
}
.visit h5{
    font-size: 40px;
    text-align: left;
}
.visit p{
    margin-top: -40px;
    font-size: 12px;
    text-align: left;
    margin-left: 100px;
}


/* ABOUT US */

/* text style */

.about-us {
    margin: 5%;
    height: 72em;
}

.about-us h2, .about-us  p, .about-us button {
    font-family: "Mulish", sans-serif;
    color: rgb(104, 106, 98);
}

.about-us h3, .about-us h4, .about-us__ensemble__date p{
    font-family: "Prata", serif;
    margin: 1em 0em;
    font-weight: 100;
}

.about-us h2 {
   display: block;
   width: max-content;
   padding-top: 1em;
   border-top: #D99578 solid 2px; 
   font-size: 1em;
}

.about-us h3 {
    font-size: 1.5em;
}

.about-us h4 {
    font-size: 2em;
}

.about-us__text {
    line-height: 1.8em;
}

.about-us button {
    margin: 2em 0em;
    padding: 1em 3em;
    background-color: #D99578;
    border-radius: 0.5em;
    border: 0px;
    color: white;
}

/* hover on the button */

.about-us button:hover {
    background-color: #db815b;
}

/* imgs and divs style */

.about-us__ensemble {
    width: 100%;
    height: 45em;

}

.about-us__ensemble__photo1 {
    position: relative;
    top: 11.5em;
    left: 5em;

    z-index: 5;
}

.about-us__ensemble__date {
    width: 18em;
    height: 18em;
    padding: 2em;

    border: solid 0.2em rgb(211, 211, 211);
    background-color: rgba(104, 106, 98, 0);
    position: relative;
    bottom: 40em;
    left: 3em;

    z-index: 4;

    display: flex;
    justify-content: space-evenly;
}

.about-us__ensemble__photo2 {
    position: relative;
    right: 4em;
    bottom: 11em;

    z-index: 3;
}

.about-us__ensemble__orange {
    width: 19em;
    height: 22.5em;

    background-color: #D99578;
    position: relative;
    bottom: 53.7em;
    left: 2.5em;
}

.about-us__ensemble__date__gradient {
    width: 6em;
    height: 4em;
    background-image: linear-gradient(#d9957870, #d9957800 70%);
    border-right: #D99578 solid 0.2em;
}

.about-us__ensemble__date__maj {
    font-size: 4em;
    position: relative;
    bottom: 1.1em;
}

.about-us__ensemble__date__text {
    font-size: 1.3em;
    position: relative;
    bottom: 0.9em;
}



/* EXHIBITION */

/* text style */

.exhibition {
    height: 110em;
    padding: 5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #302e2f;
    color: white;
}

.exhibition h2, .exhibition__block h5, .exhibition__block__date, .exhibition__block button{
    font-family: "Mulish", sans-serif;
}

.exhibition h3, .exhibition__block__titre {
    font-family: "Prata", serif;
}

.exhibition h2 {
    display: block;
    width: max-content;
    padding-top: 1em;
    border-top: #D99578 solid 2px; 
    font-size: 1em;
    color: rgb(104, 106, 98);
}

.exhibition h3 {
    font-size: 1.5em;    
}

.exhibition__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 23em;
}

.exhibition__block h5 {
    color: #d99578;
    margin: 1em 0em;
    font-size: 1.1em;
}

.exhibition__block__titre {
    font-size: 1.3em;
    font-weight: 600;
}

.exhibition__block__date {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

.exhibition__block__date__line {
    color: #D99578;
}

.exhibition__block__date__button {
    width: 9em;
    height: 3em;
    margin: 2em 0em;
    background-color: #3f3f3f;
    color: white;
    border: 0px;
    border-radius: 0.3em;
}

/* hover on the button */

.exhibition__block__date__button:hover {
    background-color: #302e2f;
    border: 1px solid #3f3f3f;
}



/* SLIDER HOME (TOP) */

.slider-home
{
    background-image: url("images/slider-1-3.jpg");
    background-position: center;
    background-size: 80rem;
    background-repeat: no-repeat;
    color:white;
    padding-top: 15rem;
    padding-bottom: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slider-home__h1
{
    font-family: 'mulish', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}

.slider-home__h2
{
    font-family: 'prata', sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;
    margin: 1rem;
}

.slider-home__text
{
    font-family: 'mulish', sans-serif;
    font-size:0.9rem;
    text-align: center;
    margin: 1rem;
}

.slider-home__button
{
    border-radius: 5px;
    border:none;
    font-family: 'mulish', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.5rem; 
    padding: 1rem 3rem;
    width: max-content;
}

/* EVENTS */

.events
{
    background-image: url("images/event-bg-1-1.jpg");
    padding: 5rem 1rem;
    

}

.events__h2
{
    font-family: 'mulish', sans-serif;
    display: block;
    width: max-content;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: #D99578 solid 2px; 
    font-size: 0.8rem;
    color: rgba(156, 150, 152,1);
}

.events__h3
{
    font-family: 'prata', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.events__button
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.events__nav
{
    font-family: "prata", sans-serif;
    font-size: 1rem;
    border: none;
    text-align: left;
    width: 100%;
    padding: 1rem 4rem 1rem 1rem; 
    margin-bottom: 0.5rem;
    word-spacing: 0.5rem;
}

.events__upcoming
{
    color: black;
    font-family:'mulish', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
}

.events__first-event
{
    margin: 3rem 0;
}

.events__date
{
    display: flex;
}

.events__number
{
    color: #D99578;
    font-family: 'prata',sans-serif;
    font-size: 2.5rem;
}

.events__descript
{
    font-family: 'prata',sans-serif;
    font-size: 1.3;
}

/* TESTIMONIALS */

.testimonials {
    padding:20% 10%;
    height: 40em;
    background-color: rgb(250, 223, 210);
}

.testimonials__info__nom, .testimonials__text {
    font-family: "Prata", serif;
}

.testimonials__div1 {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.testimonials__div2, .testimonials__div3 {
    display: none;
}

.testimonials__photo {
    border-radius: 50%;
}

.testimonials__info {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    margin: 3em;
    padding: 1em 3em;
    width: max-content;
    position: relative;
}
.testimonials__info:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 1.5em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -1.5em;
    margin-bottom: -1.5em;
}

.testimonials__info__nom {
    font-size: 1.3em;
}

.testimonials__info__city {
    font-family: "Mulish", sans-serif;
    font-size: 0.9em;
    color: #db815b;
}

.testimonials__text {
    text-align: center;
    font-size: 1.3em;
    margin: 1em;
}


/* SLIDER HOME (TOP) */

.slider-home
{
    background-image: url("images/slider-1-3.jpg");
    background-position: center;
    background-size: 80rem;
    background-repeat: no-repeat;
    color:white;
    padding-top: 15rem;
    padding-bottom: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slider-home__h1
{
    font-family: 'mulish', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}

.slider-home__h2
{
    font-family: 'prata', sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;
    margin: 1rem;
}

.slider-home__text
{
    font-family: 'mulish', sans-serif;
    font-size:0.9rem;
    text-align: center;
    margin: 1rem;
}

.slider-home__button
{
    border-radius: 5px;
    border:none;
    font-family: 'mulish', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.5rem; 
    padding: 1rem 3rem;
    width: max-content;
}

/* EVENTS */

.events
{
    background-image: url("images/event-bg-1-1.jpg");
    padding: 5rem 1rem;
    

}

.events__h2
{
    font-family: 'mulish', sans-serif;
    display: block;
    width: max-content;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: #D99578 solid 2px; 
    font-size: 0.8rem;
    color: rgba(156, 150, 152,1);
}

.events__h3
{
    font-family: 'prata', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.events__button
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.events__nav
{
    font-family: "prata", sans-serif;
    font-size: 1rem;
    border: none;
    text-align: left;
    width: 100%;
    padding: 1rem 4rem 1rem 1rem; 
    margin-bottom: 0.5rem;
    word-spacing: 0.5rem;
}

.events__upcoming
{
    color: black;
    font-family:'mulish', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
}

.events__first-event
{
    margin: 3rem 0;
}

.events__date
{
    display: flex;
}

.events__number
{
    color: #D99578;
    font-family: 'prata',sans-serif;
    font-size: 2.5rem;
}

.events__descript
{
    font-family: 'prata',sans-serif;
    font-size: 1.3;
}


.month
{

}

/* blog  */

.blog{
    padding-top: 100px;
}

.blog div{
    margin-top: 15%;
}

.blog h2{
    margin-left: 37%;
    margin-right: 37%;
    border-top: 2px solid #D99578;
    text-align: center;
    color: rgba(132,122,125,1);
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.blog h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}
.blog img{
    height: 75%;
    width: 100%;
}
.blog h4{
    margin-left: 10%;
    margin-top: 10%;
    color: #9C9C9C;
    font-size: 15px;
}
.blog h5{    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 20px;

}
.blog__line{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 70%;
    opacity: 50%;
}
.blog p {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;

}
.blog a{
    margin-left: 10%;
    color: rgba(132,122,125,1);
    text-decoration: none;
}
.blog .event-date{
    margin-top: -5%;
    margin-left: 65%;
    z-index: -1;
}

.blog__div-2{
    background-color: #D99578;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 10%;
    line-height: 30px;
    color: white;
    font-size: 19px;
}
.blog__div-2 a{
    margin-left: 40%;
    font-size: 15px;
    color: white;
}
.blog__div-2 i{
    float: right;
    font-size: 35px;
    padding-top: 50px;
}


/* FOOTER */

footer {
    width: 100vw;
    height: 30em;
    background-image: url(images/footer-bg-1-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 1em;
    color: rgba(132,122,125,1);
}

/* input style  */

.footer__mailinput {
    display: flex;
    height: 3em;
}

.footer__mailinput__icon {

    background-color: #d99578;
    color: white;
    padding: 1em;
}

.footer__mailinput__input {

    padding: 1em;
    color: rgb(136, 136, 136, 0.7);
    border: 0px;
}

.footer__mailinput__button {

    background-color: white;
    border: 0px;
    width: 3em;
}


/* hover on the button */

.footer__mailinput__button:hover {

    background-color: rgb(211, 211, 211);
}


/* icons style */

.footer__media-icons {
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    font-size: 1.2em;
}

.footer__media-icons a {
    display: inline-block;
    padding: 0px 10px;
    color: rgba(132,122,125,1);
}


/* p copyrights style */

.footer__copyrights a {
    text-decoration: none;
    color: #d99578;

}





/* About us Media Queries tablette */

@media screen and (min-width:768px) {
    .about-us h3 {
        font-size: 2.5em;
    }
    
    .about-us h4 {
        font-size: 1.4em;
        width: 17em;
    }

    .about-us__ensemble__photo1 {
        top: 19em;
        left: 16em
    }

    .about-us__ensemble__date {
        bottom: 38em;
        left: 13.5em;
    }

    .about-us__ensemble__photo2 {
        left: 3em;
        bottom: 8em;
    }

    .about-us__ensemble__orange {
        width: 22em;
        left: 10em;
        bottom: 49em;
    }

    /* Exhibition media queries tablette */
    .exhibition {
        height: 140em;
    }
    .exhibition__block {
        min-width: 45em;
    }

    .exhibition__block__photo {
        height: 25em;
    }

    .exhibition__block__date__button {
        
    }
}


/* header media queries desktop  */

@media screen and (min-width:1025px){

    .navbar{
        height: 150px;
     
    }
    .navbar__time{
   text-align: left;
   padding-top: 10px;
   padding-bottom: 10px;
    
    }
    
    .navbar__plan{
        border-bottom: none;
        margin-top: -10px;
        text-align: left;
        margin-left: 14%;
        padding-left: 25px;
    }

    .header__media-icons {
        display: flex;
        list-style-type: none;
        text-align: center;
        margin-top: -4%;
        margin-left: 85%;
    }

    .header__media-icons li{
        display: inline-block;
    }

    .header__media-icons li a{
        padding-left: 15px;
        color:#847A7D;
    }
    
    .navbar-loupe{
        display: block;
        position: absolute;
        padding-top: 20px;
        margin-left: 84%;
        width: 5px;
        height: 5px;
    }
    
    .navbar__languages{
        display: table-row;
        position: absolute;
        padding-top: 10px;
        margin-left: 88%;
        list-style-type: none;
    }
    .button--orange{
        height: 40px;
        width: 100px;
        background-color: #D99578;
        border-radius: 5px;
        border-style: none;
        display: flex;
        position: absolute;
        margin-top: 7px;
        margin-left: 92%;
    }
    .button--orange a{
      margin: auto;
      text-decoration: none;
        color: white

    }

    .navbar-links{
        display: block;
    }

    .navbar-links li{
        display: inline-block;
    
    }
    
    
    .navbar__light-logo{
        margin-left: 1%;
        grid-row: 3;
        grid-column: 1;
        padding-right: 25px;
    }
    .navbar__burger-menu-mobile{
        display: none;
      
    }
    
    .navbar__burger-menu-desk{
        display: block;
        color: #D99578;
        margin: auto;
        margin-right: 5%;
        grid-column: 2;
        grid-row: 3;
        font-size: 1.5em;
    
    }
    

}