@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');

* {
    margin:0px;
    padding: 0px;
}


.navbar{
    background-color: rgba(48,46,47,1);
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 20% 60%;
}
.navbar__time{
    color: rgba(156, 150, 152,1);
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/3;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1em;
    border-bottom: 1px solid grey;
    padding-top: 15px;

}

.navbar__plan{
    color: rgba(156, 150, 152,1);
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/3;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.icon__orange{
    color: #D99578;
}


.header__media-icons {
    display: none;
}

.navbar-loupe{
    display: none;
}

.navbar__languages{
    display: none;
}
.button--orange{
    display: none;
}
.navbar-links{
    display: none;

}


.navbar__light-logo{
    margin: auto;
    grid-row: 3;
    grid-column: 1;
    padding-right: 15px;
    padding-left: 20px;
    border-right: 1px solid grey;
}
.navbar__burger-menu-mobile{
    color: white;
    margin: auto;
    margin-right: 15%;
    grid-column: 2;
    grid-row: 3;
    font-size: 1.5em;
}

.navbar__burger-menu-desk{
    display: none;

}

/* TOP */

.top
{
    display: grid;
    grid-template-rows: 5.5rem auto 5.5rem;
    background-image: url("images/inner-banner-bg-1-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 21rem;
    min-width: 320px;
}

.top__h1
{
    color:white;
    font-family: 'prata', sans-serif;
    font-size: 2.2rem;
    font-weight: 100;
    grid-row: 2/3;
    text-align: center;
}

.top__h2
{
    color:white;
    font-family: 'Mulish', sans-serif;
    font-size: 0.7rem;
    grid-row: 3/4;
    text-align: center;
}


.online-booking{
    display: none;
}
.details h3{
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px;
}
.details p{
    opacity: 50%;
    line-height: 25px;
    padding-bottom: 20px;
}
.calendrier h3{
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 30px;
}


/* BOUTONS */

.boutons {
    font-family: "Prata", serif;
    margin: 3em;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.boutons a {
    text-decoration: none;
    color: rgba(48,46,47,1);
    margin: 1em 0em;
    padding: 1em 3em;
    border-bottom: 0.01em solid rgba(156, 150, 152,1);
}

.boutons a:focus {
    color: #D99578;
}


/* INFOS */

.infos {
    margin: 5%;
    padding-top: 2em;
    background-color: rgba(48,46,47,1);
    color: white;
    display: flex;
    flex-direction: column;
}

.infos__titre {
    font-family: "Prata", serif;
    font-size: 1.1em;
    margin: 0.5em 1em;
}

.infos__details {
    font-family: 'Mulish', sans-serif;
    font-size: 01em;
    color: rgba(156, 150, 152,1);
    margin: 0.5em 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    width: max-content;
    border-bottom: 0.01em solid rgba(156, 150, 152,1);
}

.infos__note {
    font-family: 'Mulish', sans-serif;
    margin: 1em;
    margin-bottom: 2em;
}




/* BOUTONS */

.boutons {
    font-family: "Prata", serif;
    margin: 3em;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.boutons a {
    text-decoration: none;
    color: rgba(48,46,47,1);
    margin: 1em 0em;
    padding: 1em 3em;
    border-bottom: 0.01em solid rgba(156, 150, 152,1);
}

.boutons a:focus {
    color: #D99578;
}


/* INFOS */

.infos {
    margin: 5%;
    padding-top: 2em;
    background-color: rgba(48,46,47,1);
    color: white;
    display: flex;
    flex-direction: column;
}

.infos__titre {
    font-family: "Prata", serif;
    font-size: 1.1em;
    margin: 0.5em 1em;
}

.infos__details {
    font-family: 'Mulish', sans-serif;
    font-size: 01em;
    color: rgba(156, 150, 152,1);
    margin: 0.5em 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    width: max-content;
    border-bottom: 0.01em solid rgba(156, 150, 152,1);
}

.infos__note {
    font-family: 'Mulish', sans-serif;
    margin: 1em;
    margin-bottom: 2em;
}




.calendrier h5{
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom:1px solid rgba(156, 150, 152,1);
    margin-left: 5%;
    margin-right: 5%;
    opacity: 50%;
}
.calendrier h6{
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 15px;
    opacity: 70%;
}
.calendrier p{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 25%;
    opacity: 50%;
}

.gallerie h2{
    font-size: 2em;
    padding-bottom: 10%;
}
.gallerie img{
    margin-bottom: 5%;
    margin-top: 5%;
}
.contact-info h3{
    font-size: 1.5em;
    margin-bottom: 5%;
}
.contact-info p{
    line-height: 25px;
    margin-bottom: 10%;
}
.contact-info h5{
    margin-bottom: 2%;
    font-size: 1em;
    text-transform: uppercase;
}
.map img{
    height: 50%;
    margin-bottom: 10%;
}
/* FOOTER */

footer {
    width: 100vw;
    height: 30em;
    background-image: url(images/footer-bg-1-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 1em;
    color: rgba(132,122,125,1);
}


/* input style  */

.footer__mailinput {
    display: flex;
    height: 3em;
}

.footer__mailinput__icon {

    background-color: #d99578;
    color: white;
    padding: 1em;
}

.footer__mailinput__input {

    padding: 1em;
    color: rgb(136, 136, 136, 0.7);
    border: 0px;
}

.footer__mailinput__button {

    background-color: white;
    border: 0px;
    width: 3em;
}


/* hover on the button */

.footer__mailinput__button:hover {

    background-color: rgb(211, 211, 211);
}


/* icons style */

.footer__media-icons {
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    font-size: 1.2em;
}

.footer__media-icons a {
    display: inline-block;
    padding: 0px 10px;
    color: rgba(132,122,125,1);
}


/* p copyrights style */

.footer__copyrights a {
    text-decoration: none;
    color: #d99578;
}


/* Media queries Tanya */
@media screen and (min-width:768px) {

    /* infos*/
    .image-hieroglyphics {
        height: 35em;
    }
    
}